/*CSS Reset*/
* 
{   margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Marble Display', sans-serif;
}

@font-face 
{
    font-family: 'Marble Display';
    src: url('./font/Marble\ Display.otf') format('otf'),
}

/*Classi "utility" generiche*/
.flex
{
    display: flex;
    flex-direction: row;
}

.margin-auto
{
    margin: auto;
}

.height-100
{
    height: 100%;
}

.text-center
{
    text-align: center;
}

.container
{
    max-width: 1200px;
    margin: 0 auto;
}

ul 
{
    list-style: none;
    display: flex;
}

li 
{
    margin-right: 1rem;
}

a 
{
    text-decoration: none;
    color: black;
}

header nav 
{
    height: 100%;
}

header
{
    background-color: white;
    width: 100%;
    height: 80px;
}

.whole-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
    padding: 1.5rem 0.5rem;
    background-color: white;
}

.whole-header .left-header .logo
{
    position: absolute;
    top: 33px;
    left: 25px;
}

.whole-header.left-header.logo img 
{
    max-height: 100%;
    max-width: 100%;
}

header ul 
{
    list-style-type: none;
    width: 150px;
    height: 100%;
}

body
{
    font-size: 1.25rem;
    min-width: 850px;
}

.left-header
{
    display: flex;
    justify-content: space-between;
}

.nav-left
{
    display: flex;
    align-items: flex-start;    
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    width: 395px;
    height: 40px;
    top: 35px;
    left: 180px;
}

.nav-left ul
{
    list-style-type: none;
    padding: .5rem 1rem;
    justify-content: center;
    display: inline-block;
}

.nav-left ul li a
{
    margin-right: .5rem;
    width: 145px;
    height: 30px;
}

.right-header
{
    display: flex;
    justify-content: space-between;
}

.nav-right
{
    display: flex;
    align-items: flex-start;    
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    width: auto;
    height: 40px;
    top: 35px;
    right: 90px;
}

.nav-right ul
{
    list-style-type: none;
    padding: .5rem 1rem;
    justify-content: center;
    display: inline-block;
}

.nav-right ul li a
{
    margin-right: .5rem;
    width: 145px;
    height: 30px;
}

#main-and-aside-of-the-jumbotron
{
    position: relative;
    top: 180px;
}

div.main-and-aside .aside 
{
    width: 30%;
    height: 400px;
}

div.main-and-aside .main 
{
    width: 70%;
    height: 400px;
}

.button
{
    background-color: rgba(1,97,255,255);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 234px;
    border: none;
    font-size: 16px;
    text-align: center;
}

.find-partner
{
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 165px;
    height: 45px;
}

#start-button
{
    height: 35px;
    width: 75px;
    position: absolute;
    top: 28px;
    right: 20px;
}

.jumbotron
{
    background-color: rgba(180,208,231,255);
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: none;
    height: 700px;
}

.purchase-now, .find-out-more
{
    color: rgba(79,119,240,255);
    text-decoration: underline;
}


.dropbox-business-to-your-company
{
    background-color: rgba(180,208,231,255);
    background-size: cover;
}

.white-fill
{
    fill:white;
}

.wrapper 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

section.jumbotron .container-large
{
    max-width: 70%;
    margin: 0 auto;
}

section.jumbotron .container-large h1
{
    font-size: 4.5rem;
    position: relative;
    top: 90px;
    text-align: left;
    width: 1100px;
    display: inline-block;
}

section.jumbotron .container-large p
{
    padding-bottom: 2rem;
}

.main-and-aside
{
    display: flex;
    position: relative;
    top: 80px;
    font-size: 1.1rem;
}

.aside 
{
    text-align: left;
}

.fa-arrow-down
{
    font-size: 2rem;
    font-weight: bold;
}

main>section
{
    padding: 8rem 0;
}

main section img
{
    width: 100%;
}

main section h2
{
    padding-bottom: 1.5rem;
    font-size: 3rem;
}


main section div.main
{
    width: 70%;
    height: 400px;
}

main section div.aside
{
    width: 30%;
    line-height: 1.5rem;
    height: 400px;
    font-size: 14px;
}

main section div.main-and-aside
{
    width: 100%;
}

.flex-container
{
    display: flex;
    flex-direction: column;
}

.radio-buttons
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}


.radio-buttons input[type="radio"]
{
    margin-right: 10px;
}

.radio-buttons label
{
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.plans-section
{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: 0 auto;
}

.all-plans
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    margin-top: 10px;
}

.plan
{
    border: 1px solid rgba(178,177,180,255);
    padding-right: 20px;
    height: 1000px;
    width: 310px;
}

.name-of-plan
{
    border-bottom: 1px solid rgba(178,177,180,255);
    height: 40px;
    width: 309px;
    display: flex;
    justify-content: center;
    align-items: center;
}




footer
{
    color: white;
    background-color: rgba(0,0,0,255);
}

.bottom-footer p 
{
    color: #575a5f;
}
